spring:
    datasource:
        initialize: true
        password: admin
        url: jdbc:postgresql://localhost:5432/v_reservation
        username: postgres
    jpa:
        hibernate:
            ddl-auto: update
            show-sql: true
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
                format_sql: true
    sql:
        init:
            mode: always
            continue-on-error: true
    mvc:
        hiddenmethod:
            filter:
                enabled: true